  header {
      text-align: center;
      background: url("desk photo.jpg");
      background-repeat: no-repeat;
      width: 100%;
      color: black;
      height: 500px;
  }

  .fade {
  	background-color: rgba(255,255,255,.15);
  	height: 500px;
  }

  #rectangle {
    height: 80px;
    width: 100%;
    background: #D78D56;
    float: left;
  }

  .signup {
  	margin: 30px 20px 0 0;
  	padding: 15px;
  	float: right;
  	display: inline;
    background:#474747;
    color: white;
    font-family: helvetica;
  }

  body{
    font-family: helvetica;
    max-width: 100%;
    color: white;
  }
  a {
    color: white;
  }
   input [type="email"] {
      border: 1px solid #ffffff
      padding: 10px 10px 10px 10px;
      font-size: 22px;
    }

    input[type="submit"] {
      background: #474747;
      color: white;
    }

  h1 {
    font-size: 35px;
    font-family: helvetica;
    font-weight: bold;
    color: black;
    padding-top:40px;
    padding-bottom: 10px
  }
  ul {
    padding:15px;
    float: center;
    text-align: right;
    background: #474747;
  }
  li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
  }

  .logo {
  	width: 200px;
  	height: 70px;
	/* background-color: green; */  	
	background-image: url(img/Logo_test2.png);
	background-size: 80%;
	background-repeat: no-repeat;
/*  	background-position: 0 -40px;
*/  	margin: 15px;
  }

  footer{
    display: inline;
    width: 100%;
    color: white;
    background: #474747;
  }
  div {
background-size: cover;
}

.pull-left {
	float: left;
}

p {
  padding: 10px;
  line-height: 28px;
}

.who {
	height: 400px;	
	background-color:#ffffff;
	width: 100%;
	color: #474747;
  display: inline-block;
	padding: 50px 0;
}

.benefits {
  height: 400px;
  background-color:#e1e1e1;
  width: 100%;
  color:#474747;
  padding: 150px 25px 50px 25px;
}

.benefitsheader {
  background-color: #e1e1e1;
  display: center;
}

.circleone {
  width: 33%;
  background-color: #e1e1e1;
  display: inline-block;
  float: left;
 
}

.circleonegif {
  background-image: url("img/circle_one.gif");
  width:230px;
  height:85px;
}

.circletwo {
  width: 33%;
  background-color: #e1e1e1;
  display: inline-block;
  float: center; 

}

.circlethree {
  width: 33%;
  background-color: #e1e1e1;
  display: inline-block;
  float: right;
}

.features {
  height: 350px;
  text-align: center;
  background-color: #ffffff;
  color:#474747
}

.specifics {
  padding: 10px;
  color:#474747

}

.left {
  width: 45%;
  margin-left: 50px;
  float: left;
}

.right {
	width: 45%;
 	margin-right: 5%;
 	float: right;
 	height: 303px;
 	background-color: white;
  background-image: url(img/Who_Section_Image_copy.png);
  border:2px solid #000000;
  background-size: 100%;
  background-repeat: no-repeat;
}


  color: #474747;
}